.idea*
.vscode
*pycache*
*.swp
*.pdf
*.png
*.log
*.nc
.coverage
coverage.xml
miniconda

# output from unittest
random_tolerance.csv
test_stats.csv
test_stats_csv.csv
test_stats_csv.dat
tmp_tolerance_None.csv
tolerance.csv
util/differences.csv
