.coverage
.idea*
.vscode
*pycache*
*.swp
*.pdf
*.png
*.log
*.nc
coverage.xml
eccodes-cosmo-resources
miniconda

# output from unittest
test_stats.csv
test_stats_csv.csv
test_stats_csv.dat
random_tolerance.csv
