{
    "default": {
        "model_output_dir": "{{codebase_install}}",
        "perturbed_model_output_dir": "{{codebase_install}}/perturb/{{experiment_name}}_member_id_{member_id}",
        "experiment_name": "{{experiment_name}}",
        "perturbed_experiment_name": "{{experiment_name}}_member_id_{member_id}",
        "stats_file_name": "{{reference}}/reference/{{experiment_name}}_{member_id}.csv",
        "tolerance_file_name": "{{reference}}/tolerance/{{experiment_name}}.csv",
        "member_num": "[{member_num}]",
        "member_type": "{{member_type}}",
        "file_specification": [{
            "NetCDF": { "format": "netcdf", "time_dim": null, "horizontal_dims": ["ncells"]  }
        }],
        "savedir": "{{reference}}/plots"
    },
    "perturb": {
        "perturb_amplitude": 1e-14,
        "variable_names": ["ta", "clw"],
        "copy_all_files": false,
        "files": ["input-data.nc"],
        "model_input_dir": "{{codebase_install}}",
        "perturbed_model_input_dir": "{{reference}}/perturb/{{experiment_name}}_member_id_{member_id}"
    },
    "stats": {
        "ensemble": true
    },
    "check": {
        "input_file_ref": "{{reference}}/reference/{{experiment_name}}_{{member_num[0] if member_num|length>1 else 1}}.csv",
        "input_file_cur": "{{reference}}/reference/{{experiment_name}}_{{member_num[1] if member_num|length>1 else 2}}.csv",
        "factor": 5
    },
    "run": {
        "run_script_name": "run_all_schemes.sh",
        "perturbed_run_script_name": "run_all_schemes_member_id_{member_id}.sh",
        "run_dir": "{{codebase_install}}",
        "perturbed_run_dir": "{{reference}}/perturb/{{experiment_name}}_member_id_{member_id}",
        "lhs": [null, null],
        "rhs_new": [null, null],
        "rhs_old": [null, null],
        "submit_command": "bash",
        "parallel": false,
        "dry": false
    }
}
