{
    "default":
        {
            "model_output_dir": "{{codebase_install}}/experiments/{{experiment_name}}",
            "perturbed_model_output_dir": "{{codebase_install}}/experiments/{{experiment_name}}_member_id_{member_id}",
            "experiment_name": "{{experiment_name}}",
            "perturbed_experiment_name": "{{experiment_name}}_member_id_{member_id}",
            "stats_file_name": "stats_{member_id}.csv",
            "tolerance_file_name": "{{reference}}/tolerance/{{experiment_name}}.csv",
            "member_ids": ["{{member_ids}}"],
            "file_ids": ["{{file_ids}}"],
            "file_specification": [
                ["latlon", "*_ll_*.nc",
                  { "format": "netcdf", "time_dim": "time", "horizontal_dims": ["lat:lon"] }
                ],
                ["meteogram", "*meteogram*.nc",
                  { "format": "netcdf", "time_dim": "time", "horizontal_dims": ["max_nlevs:nstations", "nstations"] }
                ],
                ["dace", "*dace*.nc",
                  { "format": "netcdf", "time_dim": "time", "horizontal_dims": [ "d_body"]}
                ],
                ["NetCDF", "*.nc",
                  { "format": "netcdf", "time_dim": "time", "horizontal_dims": ["ncells", "ncells_2", "nedges", "nvertices"] }
                ],
                ["total_integrals", "total_integrals.dat",
                  { "format": "csv", "parser_args": {
                    "delimiter": "\\s+",
                    "skiprows": 1,
                    "index_col": 0,
                    "names": ["timestep", "m", "mdry", "e", "kine", "inne", "pote", "msp"]
                  }}
                ],
                ["tracer_total_integrals", "tracer_total_integrals.dat",
                  { "format": "csv", "parser_args": {
                    "delimiter": "\\s+",
                    "skiprows": 1,
                    "index_col": [0,2],
                    "names": ["timestep", "time_hr", "tracer_nr", "total", "relative_error_to_previous", "relative_error_to_1"]
                  }}
                ],
                ["ignored", "something_that_should_not_be_matched",
                  { "format": "ignore" }
                ]
            ],
            "savedir": "{{codebase_install}}/experiments/{{experiment_name}}"
        },
    "perturb":
        {
            "perturb_amplitude": "{{perturb_amplitude}}",
            "variable_names": ["T", "QV"],
            "copy_all_files": false,
            "files": [],
            "model_input_dir": "",
            "perturbed_model_input_dir": "{{codebase_install}}/experiments/{{experiment_name}}_member_id_{member_id}/input"
        },
    "stats":
        {
            "ensemble": false
        },
    "check":
        {
            "input_file_ref": "{{reference}}/reference/{{experiment_name}}.csv",
            "input_file_cur": "{{codebase_install}}/experiments/{{experiment_name}}/statistics.csv",
            "factor": 5
        },
    "performance":
        {
            "timing_regex": "{{codebase_install}}/run/LOG.exp.{{experiment_name}}.*",
            "timing_names": ["integrate_nh", "nh_solve", "physics"],
            "timing_database": "{{codebase_install}}/database",
            "append_time": "{{append_time}}"
        },
    "performance-check":
        {
            "timing-current": "{{timing_current}}",
            "timing-reference": "{{timing_reference}}"
        },
    "cdo":
        {
            "cdo_table_file": "{{reference}}/cdo_table/{{experiment_name}}.csv",
            "histogram": true,
            "times": [],
            "variables": []
        },
    "run":
        {
            "run_script_name": "exp.{{experiment_name}}.run",
            "perturbed_run_script_name": "exp.{{experiment_name}}_member_id_{member_id}.run",
            "run_dir": "{{codebase_install}}/run",
            "lhs": ["pinit_seed", "pinit_amplitude"],
            "rhs_new": ["{seed}", "{{perturb_amplitude}}"],
            "rhs_old": [null, null],
            "submit_command": "sbatch --wait --account=g110",
            "parallel": true,
            "dry": false
        }
}
