name: Build Docker Container

on:
  push:
    branches:
      - main
  workflow_dispatch:  # Manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: c2sm
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build AMD64 image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: c2sm/probtest:amd64
          platforms: linux/amd64
          outputs: type=oci,dest=probtest_image_amd64.tar

      - name: Upload AMD64 image
        uses: actions/upload-artifact@v4
        with:
          name: probtest_image_amd64
          path: probtest_image_amd64.tar

      - name: Build ARM64 image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: c2sm/probtest:arm64
          platforms: linux/arm64
          outputs: type=oci,dest=probtest_image_arm64.tar

      - name: Upload ARM64 image
        uses: actions/upload-artifact@v4
        with:
          name: probtest_image_arm64
          path: probtest_image_arm64.tar
