name: Run pre-commit in probtest

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  probtest-pre-commit:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.10.8
    - name: Install Poetry
      run: |
        curl -sSL https://install.python-poetry.org | python3 -
        echo "$HOME/.local/bin" >> $GITHUB_PATH
    - name: Configure Poetry
      run: |
        poetry config virtualenvs.in-project true
    - name: Install dependencies
      run: |
        poetry install

    - name: Install pre-commit hooks
      run: |
        poetry run pre-commit install-hooks
    - name: Run pre-commit hooks
      run: |
        poetry run pre-commit run --all-files
